h1{
    color: red;
    font: bold;
}


#bulb{
    height: 300px;
    width: 300px;

    border: 2px solid #000;
    border-radius: 50%;
}

button{
    padding: 10px 50px;
    font-size: 20px;
    margin: 80px;
}

h4{
    font-size: 50px;
    font-weight: bold;
}